@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
* {
   margin: 0px;
   padding: 0px;
}

body {
   font-family: "Exo", sans-serif;
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    margin-top: 2rem;
 }
 .grid2{
   margin-right: 2rem;
 }
 .container{
   display: flex;
   justify-content: center;
   background-color: #131313;
 }
.us{
   background-color: #131313;
   color: #fff;
   height: 120vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.use{
   display: flex;
   justify-content: center;

}
.para{
   border: 3px solid #0073cf;
   padding: 2rem;
   border-radius: 2rem;
   height: 30vh;
   text-align: left;
   margin-top: 5vh;
}
.para .heading{
   font-family: 'Bebas Neue', sans-serif;
   font-size: 40px;
   margin-bottom:10px ;
   letter-spacing: 3px;
   text-align: center;
}
.para1 .heading{
   font-family: 'Bebas Neue', sans-serif;
   letter-spacing: 5px;
   font-size: 50px;
   text-align: center;
   margin-bottom:10px ;
}
.gridContainer hr {
   width: 80%;
   margin: 0 auto;
   border: 2px solid #0073cf;
   margin-bottom: 1rem;
 }
.faq .para1{
   border: 3px solid #0073cf;
   padding: 2rem;
   margin-top: 5vh;
   border-radius: 2rem;
   height: 75vh;
   text-align: left;
}
.context {
   width: 100%;
   position: absolute;
   top: 30vh;
   z-index: 1; /* Move the context above the animation layer */
}
.context p {
   text-align: center;
   color: #fff;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 120px;
} 
.context .flexBox .btn{
   padding: 0.5rem 2rem 0.5rem 2rem;
   background-color: #005396;
   color: #fff;
   opacity: 1;
   margin-left: 1rem ;
   font-size: 30px;
   letter-spacing: 2px;
   border-radius: 2rem;
   margin-right: 1rem ;
   border: none;
   font-family: 'Bebas Neue', sans-serif;
   text-decoration: none;
   
   /* position: relative; Add position relative to create stacking context */
   /* z-index: 1; Move the buttons above the animation layer */
   /* font-family: 'Montserrat', sans-serif; */
   
}
.context .flexBox .btn:hover {
   background-color: #00335c;
   transform: scale(1.1);
   transition: 0.5s;
}
.flexBox{
   display: flex;
   justify-content: center;
}
.area {
   background-color: #131313;
   background: -webkit-linear-gradient(to left, #000000, #ffffff);
   width: 100%;
   z-index: -1;
   height: 100vh;
}

.circles {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.circles li {
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   background: #0073cf;
   animation: animate 25s linear infinite;
   bottom: -150px;
}

.circles li:nth-child(1) {
   left: 25%;
   width: 80px;
   height: 80px;
   animation-delay: 0s;
}

.circles li:nth-child(2) {
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-duration: 12s;
}

.circles li:nth-child(3) {
   left: 70%;
   width: 25px;
   height: 25px;
   animation-delay: 4s;
}

.circles li:nth-child(4) {
   left: 40%;
   width: 25px;
   height: 25px;
   animation-delay: 0s;
   animation-duration: 18s;
}

.circles li:nth-child(5) {
   left: 65%;
   width: 30px;
   height: 30px;
   animation-delay: 0s;
}

.circles li:nth-child(6) {
   left: 75%;
   width: 110px;
   height: 110px;
   animation-delay: 3s;
}

.circles li:nth-child(7) {
   left: 35%;
   width: 70px;
   height: 70px;
   animation-delay: 7s;
}

.circles li:nth-child(8) {
   left: 50%;
   width: 25px;
   height: 25px;
   animation-delay: 15s;
   animation-duration: 45s;
}

.circles li:nth-child(9) {
   left: 20%;
   width: 15px;
   height: 15px;
   animation-delay: 2s;
   animation-duration: 35s;
}

.circles li:nth-child(10) {
   left: 85%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 11s;
}
.circles li:nth-child(11) {
   left: 95%;
   width: 80px;
   height: 80px;
   animation-delay: 1s;
   animation-duration: 11s;
}
.circles li:nth-child(12) {
   left: 5%;
   width: 30px;
   height: 30px;
   animation-delay: 0s;
   animation-duration: 11s;
}
.circles li:nth-child(12) {
   left: 6%;
   width: 50px;
   height: 50px;
   animation-delay: 0s;
   animation-duration: 11s;
}
.circles li:nth-child(12) {
   left: 10%;
   width: 40px;
   height: 40px;
   animation-delay: 0s;
   animation-duration: 11s;
}

.topnav {
   overflow: hidden;
   background-color: #131313;
   font-family: 'Bebas Neue', sans-serif;
   position: relative;
   z-index: 1; 
}
 .topnav a {
   float: left;
   color: #fff;
   text-align: center;
   padding: 0.5rem 1rem 0.5rem 1rem;
   /* background-color: #005396; */
   color: #fff;
   opacity: 1;
   margin-left: 1rem ;
   font-size: 25px;
   border-radius: 1rem;
   text-decoration: none;
   margin-top: 1rem ;
   
 }
 .topnav a:hover{
   text-decoration: underline;
   /* text-decoration-color:#0073cf ; */
   color: #0073cf;
   transform: scale(1.2);
   transition: 0.5s;
 }

@keyframes animate {
   0% {
      transform: translateY(-800px) rotate(0deg);
      opacity: 1;
      border-radius: 0;
   }

   100% {
      transform: translateY(100%) rotate(720deg);
      opacity: 0;
      border-radius: 30%;
   }
}

.waviy {
   position: relative;
   text-align: center;
 }
 .waviy span {
   position: relative;
   display: inline-block;
   font-size: 140px;
   letter-spacing: 5px;
   font-weight: 400;
   color: #fff;
   font-family: 'Bebas Neue', sans-serif;
   text-transform: uppercase;
   animation: flip 5s infinite;
   animation-delay: calc(.2s * var(--i))
 }
 @keyframes flip {
   0%,80% {
     transform: rotateY(360deg) 
   }
 }
