@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2f3337;
  font-family: 'Montserrat', sans-serif;
}

.hide {
  display: none !important;
}

.unhide {
  display: block;
}
.topnav {
  overflow: hidden;
  background-color: #222222;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  background-color: #222222;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #222222;
  color: white;
  text-decoration: none;
}

.topnav a.active {
  background-color: #0073cf;
  color: white;
}

.topnav-right {
  float: right;
}
 
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 10%;
  background-color: #F3EFE0;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.logo-img {
  width: auto;
  height: 50px;
}

#signup {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #002447;
  text-decoration: none;
  padding: 0px 10px;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}

#signup:hover {
  color: #0073cf;
}

#login {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 9px 25px;
  background-color: #0073cf;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

#login:hover {
  background-color: #002447;
}

#profile {
  cursor: pointer;
  text-align: center;
  margin: 0px 10px;
}

.profile-logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.main-container {
  margin: 0% 10%;
}

.welcome-container {
  padding: 1% 5% 1% 5%;
  background-color: #F3EFE0;
}

.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #0073cf;
  text-decoration: none;
  text-align: center;
}

.welcome-text0 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #0073cf;
  text-decoration: none;
  text-align: center;
}

.transaction-type-container {
  padding: 1% 10% 1% 10%;
  background-color: #222222;
}

.transaction-type {
  list-style: none;
  display: flex;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  justify-content: space-between;
  background-color: #222222;
}

.transaction-type span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #222222;
  text-decoration: none;
  padding: 5px 15px;
}

.transaction-type span:hover {
  background-color: #0073cf;
  /* border-radius: 25px; */
  cursor: pointer;
}

.transaction-container {
  width: auto;
  margin-top: 2rem;
  padding: 1% 3%;
  background-color: #222222;
  border-radius: 20px;
}

#wallet-transfer-container {
  display: flex;
  background-color: #222222;
  border-radius: 5rem;
  padding-bottom: 1rem;
}

#bank-transfer-container {
  display: flex;
  background-color: #222222;
  border-radius: 5rem;
  padding-bottom: 1rem;
}

.transfer-type {
  position: relative;
  width: 50%;
  background-color: #222222;
  height: auto;
}

.transfer-type:Before {
  content: '';
  position: relative;
  top: 0;
  background-color: #222222;
  left: 0;
  width: 100%;
  height: 100%;
}

#bank-transfer-container .transfer-type {
  margin: 0 0 0 1.25%;
}

.transfer-title {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  margin: 0 2.5%;
  background-color: #222222;
  padding: 1% 0 1% 0; 
}

#bank-transfer-container .transfer-title {
  margin: 0 2.5%;
  text-align: end;
}

.transfer-detail {
  background-color: #222222;
  margin: 0 2.5% 0 0;
  border-radius: 20px;
}

#bank-transfer-container .transfer-detail {
  margin: 0;
}

.transfer-form {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  /* color: grey; */
  background-color: #222222;
}

.wallet-form {  
  padding: 10px 15px;
  background-color: #222222;
}

.last-form-input-wallet {
  padding: 10px 15px 20px 15px;
  background-color: #222222;
}

.bank-form {
  padding: 10px 15px 0 15px;
}

.last-form-input-bank {
  padding: 10px 15px;
}

.box-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 19px;
  color: #fff;
  background-color: #222222;
  padding: 0 0 5px 10px;
}

.box-input {
  font-size: 14px;
  color: grey;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
}

.imgBx {
  width: 50%;
  background-color: #222222;
  margin: 0 0 0 1.25%;
  text-align: center;
}

.imgBx img {
  width:350px;
  height: 350px;
  border-radius: 20px;
}

#bank-transfer-container .imgBx {
  margin: 0 1.25% 0 0;
}

.submit-container {
  margin: 1% 10%;
  padding: 1% 5% 1% 5%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: #0073cf;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 25px;
  height: 40px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  letter-spacing: 1px;
}

.submit-btn:hover {
  background-color: #1c99ff;
  transform: scale(1.03);
  transition: transform 0.5s;

}