@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #2f3337;
}
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2f3337;
  font-family: 'Montserrat', sans-serif;
} */
  
.topnav {
  overflow: hidden;
  background-color: #222222;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  background-color: #222222;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #023157;
  color: white;
  text-decoration: none;
  transition:0.5s;
}


.topnav a.active {
  background-color: #0073cf;
  color: white;
  height: 100%;
}

.topnav-right {
  float: right;
  background-color: #222222;
}

#profile {
  cursor: pointer;
  text-align: center;
  padding: 0px;
  background-color: #222222;
}

.profile-logo {
  height: 40px;
  width: 40px;
  padding: 5px;
  display: flex;
  background-color: #222222;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
}
  .wrapper {
    display: flex;
    justify-content: center;
    
  }
  .container {
    width: 70vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #2f3337;
    margin-top: 5vw;
    text-align: center;
  }
  .container .sub-container .grid-item{
    background-color: #222222;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
  }
  .wrapper .list{
    width:70vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
  }
  .container .grid-item{
    background-color: #0073cf;
    border-radius: 2rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin: 1rem;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper h3 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #000;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
  }
  .container input:focus {
    border-color: #0073cf;
  }
  
  .user-amount-container {
    background-color: #222222;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    width: 700px;
    
  }
  .output-container {
    background-color: #0073cf;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
  }
  .output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .totalExpenses{
    text-align: center;
    flex: auto;
  }
  .output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
  }
  .submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #0073cf;
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.3em 1em;
    border-radius: 0.3em;
    cursor: pointer;
  }
  .list {
    background-color: #222222;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
  .sublist-content {
    width: 80%;
    margin-bottom: 0.6em;
    font-size: 30px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
  }
  .product {
    color: #0073cf;
  }
  .amount {
    color: #0073cf;
    margin-left: 20%;
  }
  .icons-container {
    width: 3em;
    margin: 1.2em;
    align-items: center;
  }
  .product-title {
    margin-bottom: 1em;
  }
  .hide {
    display: none;
  }
  .error {
    color: #ff465a;
  }
  .edit {
    margin-left: auto;
  }
  .edit,
  .delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1rem;
    border: none;
    color: #0073cf;
  }
  .sub-container input{
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    .wrapper {
      font-size: 14px;
    }
    .sub-container {
      grid-template-columns: 1fr;
      gap: 1em;
    }
  }