
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Bebas Neue', sans-serif;
  }

  .hide {
    display: none;
  }

  .unhide {
    display: block;
  }
  main {
    width: auto;
    text-align: center;
    margin: 1% 10%;
    padding: 0% 5% 0% 5%;
  }

  .message-container {
    margin: 0% 10%;
    padding: 2% 5% 0% 5%;
    background-color: #222222
  }

  #message {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  #videoElement {
      color: white;
      background-color: #2f3337;
      transform: scaleX(-1);
      border: 5px #333 solid;
      border-radius: 20%;
      object-fit: cover; 
  }

  canvas {
      position: absolute;
      top: 0;
      left: 0;
      margin: 8.4%;
      padding: 0 26.4%;
      transform: scaleX(-1);
  }

  .submit-container {
    margin: 1% 10%;
    padding: 1% 5% 1% 5%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-btn {
    background-color: #004075;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 1.5rem;
    border: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    letter-spacing: 1px;
  }
  
  .submit-btn:hover {
    transform: scale(1.06);
    transition: 0.6s;
  }

  .pay-btn {
    letter-spacing: 2px;
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  .pay-btn:hover {
    background-color: #449d44;
    border-color: #398439;
  }
