@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #2f3337;
}
.topnav {
    overflow: hidden;
    background-color: #222222;
    font-family: 'Bebas Neue', sans-serif;

  }
  
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  
  .topnav a:hover {
    background-color: #222222;
    /* color: black; */
  }
  
  .topnav a.active {
    background-color: #0073cf;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

main {
    width: auto;
    margin: 1% 10%;
}
         
.section-container {
    height: 50%;
    max-height: 100vh;
    width: auto;
    position: relative;
    margin: 4% 8% 3% 8%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 8px #002447;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
    background-color: #222222;
}

.section-container:hover {
    box-shadow: 0px 8px 16px;
}

.section-container .imgBx {
    position: relative;
    width:  50%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 2rem;
    text-align: center;
    height: auto;
    background-color: #222222;
}

.section-container .imgBx:Before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-container .imgBx img{
    position: relative;
    margin: 0 0 0 6%;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    object-fit: fill;
    border-radius: 2rem;
}

.section-container .mb-5{
   
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-container .mb-5.mb-3{
    width: 50%;
    color: #fff;
}

.section-container h3.mb-3 {
    margin: 0 17%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    border-bottom: 3px solid #0073cf;
    display: inline-block;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 0px !important;
}

.topper {
    margin-top: 2%;
}
.mb-5 h3,
.mb-5 input,
.mb-5 .custom-control,
.mb-5 button,
.mb-5 .ask-account {
  margin: 10px;
}
.section-container input.form-control.mb-3{
    font-size: 20px;
    margin-bottom: 5px;
    color: #000;
    letter-spacing: 2px;
    width: 82%;
    border-radius: 30px;
    justify-content: center;
    border-color: #000;
    padding: 10px 20px;
    font-family: 'Bebas Neue', sans-serif;
}
.section-container input::placeholder{
    color: #000;
}
.section-container button#submitBtn.btn.w-100.btn-outline-primary.mb-3{
    width: 82% !important;
    background: #0073cf;
    color: #000;
    border-radius: 28px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
}

.section-container button#submitBtn.btn.w-100.btn-outline-primary.mb-3:hover{
    background: #002447;
}
.ask-account {
    font-size: 18px;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    margin: 0 10%;
}

.ask-account-link {
    color: #0073cf;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: underline;
}
