
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Bebas Neue', sans-serif;

  }

  .hide {
    display: none;
  }

  .unhide {
    display: block;
  }

  main {
    width: auto;
    text-align: center;
    margin: 5% 10% -1% 10%;
  }

  .message {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: 2px;
    margin: 0;
  }
    
  #thanks-message {
    font-size: 40px;
    padding: 0;
    color: #0073cf;
    letter-spacing: 2px;
  }

  #success-message {
    font-size: 60px;
    color: #0073cf;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    padding: 0;
  }
  .success{
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  .failure{
    width: 300px;
    height: 300px;
  }
  #request-message {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: white;

  }

  #failure-reason {
    font-size: 40px;
    padding: 0;
    color: #0073cf;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  #redirecting-message {
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: white;

  }
  
  .submit-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-btn {
    height: 40px;
    width: 150px;  
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #0073cf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 2px;
  }

  .submit-btn:hover {
    background-color: #002447;
  }