
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Bebas Neue', sans-serif;

  }

  .hide {
    display: none;
  }

  .unhide {
    display: block;
  }

  header {
    text-align: center;
    padding: 1% 5% 1% 5%;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #222222;
    letter-spacing: 2px;
  }

  main {
    width: auto;
    text-align: center;
    margin: 5% 10% -1% 10%;
  }

  .main .message {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: 2px;
  }
    
  #thanks-message {
    font-size: 20px;
    padding: 0 0 0.5rem 0;
    color: white;
    letter-spacing: 2px;
  }

  #success-message {
    font-size: 60px;
    color: #4caf50;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    padding: 0;
  }
  
  #request-message {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: white;

  }

  #failure-reason {
    font-size: 20px;
    color: red;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    padding: 0 0 2.5rem 0;
  }
  
  #redirecting-message {
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: white;

  }
  

  /* main section ends */

  /* footer section starts */

  .submit-container {
    margin: 1% 10%;
    padding: 1% 5% 1% 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-btn {
    height: 40px;
    width: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #0073cf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: background-color 0.3s ease 0s;
  }

  .submit-btn:hover {
    background-color: #002447;
  }

  /* footer section ends */